@charset "UTF-8";
body {
            
            background-color:lightpink; 
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 100vh;
        }